<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-Missing Movie</title>
     <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
    <style>
       h1 {
         text-align: center;
         color: rgb(233, 0, 0);
         font-size: 80px;
         font-family: Verdana, Geneva, Tahoma, sans-serif;
         font-weight: 1000;
         font-style: inherit;
         text-decoration: underline;
         margin:200px;
        }
    </style>
</head>
<body>
    <h1>404 Movie Not Found </h1>

</body>
</html>