<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cinerix</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
</head>

<body>

    <header>
        <nav class="navbar">
            <div class="logo">
                <img src="{{ url_for('static', filename='logo.svg') }}" alt="Logo" width="10%">
            </div>
            <ul class="nav-links">
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="#">Moßvies</a></li>
                <li><a href="#">Anime</a></li>
                <li><a href="#">Ranking</a></li>
            </ul>
        </nav>
    </header>
    <div class="box">
        <form method="POST">
            <input type="text" name="search" placeholder="Search Movies">
            <button type="submit">Search</button>
        </form>

        <a href="/movies/{{movie/id}}">
            {% for movie in movies %}
            <div class="moviesbox">

                <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" width="150">

                <h2>{{ movie.title }}</h2>
                <p>⭐ Rating: {{ movie.vote_average }}</p>
                <p>{{ movie.overview }}</p>
                <p>{{ movie.genre_ids }}</p>
                <p>{{ movie.release_date }}</p>
                <p>{{ movie.popularity }}</p>
                <p>{{ movie.adult }}</p>
                <p>{{ movie.video }}</p>
                <p>{{ movie.id }}</p>
                <p>{{movie.vote_count}}</p>


                {% if movie.vote_average > 8 %}
                <p class="top-rated">⭐ Top Rated</p>
                {% endif %}

            </div>
            {% endfor %}
        </a>
    </div>

</body>

</html>