<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movie.title}}</title>
     <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='logo.svg') }}">
</head>
<body>
     <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" width="150">

            <h2>{{ movie.title }}</h2>
            <p>⭐ Rating: {{ movie.vote_average }}</p>
            <p>{{ movie.overview }}</p>
            <p>{{ movie.genre_ids }}</p>
            <p>{{ movie.release_date }}</p>
            <p>{{ movie.popularity }}</p>
            <p>{{ movie.adult }}</p>
            <p>{{ movie.video }}</p>
            <p>{{ movie.id }}</p>
            <p>{{movie.vote_count}}</p>


            {% if movie.vote_average > 8 %}
            <p class="top-rated">⭐ Top Rated</p>
            {% endif %}
    <br>

    <a href="/">⬅ Back to Home</a>
</body>
</html>